

.testing  {
	color: tomato;
	border: solid;
	border-color: gray;
    height: 350px;
    width: 350px;
    margin: 20px;
}


body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	line-height: 1.1;
   	color: white;
    font-size: 11px;

	-webkit-font-smoothing: antialiased;
	background-color: #4f617a;
	text-align: center;
	/*background-image: url("../images/ana-martin-161065.jpg");*/
	background-size: 1920px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo{
	width: 50px; /* you can use % */
    height: auto;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   background-attachment: fixed;
   /*text-align: right;*/


}

.title {
	/*font-size: 40px;*/
	margin-top: 300px;
}

#notes-btn,
#all-notes {
    color: white;
    width: 100px;
    margin-left: 30px;
    text-indent: 0;
}

.note-style {
    color: black;
}

.hidden-text a {
    color: #4f617a;
    text-decoration: none;
    transition: .5s;
    font-weight: 500;

}
.hidden-text a:hover {
    color: white;
    text-decoration: none;
    transition: .5s;
}

a {
	color: white;
	transition: .5s;
	font-weight: 500;

}

a:hover {
	text-decoration: none;
	color: #4f617a;
	transition: .5s;
}

.articles-style {
    border-top: solid;
    border-bottom: solid;
}

/* ======================== */
/* Main Fading Text Effect	*/
/* ======================== */

#hero .fade {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    -webkit-backface-visibility: hidden
}
#hero .ppr {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1rem;
    z-index: 1;
    color: #fff;
    width: 100%;
    text-align: center
}
#hero .ppr span {
    font-size: 15vw;
    font-family: "Demi", Helvetica, Arial, sans-serif;
    z-index: 2;
    margin: 0;
    line-height: 1;
    cursor: default;
    /*-webkit-touch-callout: none;*/
    -webkit-user-select: none;
    /*-khtml-user-select: none;*/
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    display: block
}
#hero .ppr h1 {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    position: absolute;
    color: #fff;
    text-align: center;
    z-index: 1;
    width: 100%;
    margin: 0;
    opacity:0; 
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%) scale(0.98, 0.98);
    -o-transform: translate(-50%, -50%) scale(0.98, 0.98);
    -ms-transform: translate(-50%, -50%) scale(0.98, 0.98);
    -webkit-transform: translate(-50%, -50%) scale(0.98, 0.98);
    transform: translate(-50%, -50%) scale(0.98, 0.98);
    font-size: 2.8em;
}

#hero .ppr:hover h1 {
    opacity: 1;
    -moz-transform: translate(-50%, -50%) scale(1, 1);
    -o-transform: translate(-50%, -50%) scale(1, 1);
    -ms-transform: translate(-50%, -50%) scale(1, 1);
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
    transform: translate(-50%, -50%) scale(1, 1)
}

#hero #scroll {
    display: inline-block
}

#hero #scroll span {
    display: inline-block
}

#hero .ppr:hover span {
    -moz-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0 !important;
}

#hero .lf {
	font-family: times;
}

.cf {
    zoom: 1
}
.clearfix:before,
.clearfix:after,
.cf:before,
.cf:after {
    content: "";
    display: table
}
.clearfix:after,
.cf:after {
    clear: both
}
/* ===================  */
/*	Key Frames 			*/
/* ===================  */


@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}